@{
    ViewBag.Title = "About";
}
<h2>About Kissly</h2>
<p>
    Kissly started out of curiosity of how different techniques that could be used to shorten urls
</p>
<p>
    This is a naive implementation of this idea, I wanted to know how much effort it would take to create one. <br />
    Some inspiration was taken from the following articles. <br/>
 
   

</p>

<p>
    [1]<a href="https://en.wikipedia.org/wiki/URL_shortening ">https://en.wikipedia.org/wiki/URL_shortening </a><br />
    [2]<a href="http://blog.codinghorror.com/url-shortening-hashes-in-practice/">http://blog.codinghorror.com/url-shortening-hashes-in-practice/</a> <br />
</p>


