
<h2> Got questions? Get in touch</h2>
<address>
    <a href="http://www.kimambo.de"> <i class="fa fa-wordpress fa-lg"> </i> www.kimambo.de</a><br />
    <a href="https://de.linkedin.com/in/maxkimambo"><i class="fa fa-life-ring fa-lg"></i> LinkedIn </a> <br />
    
</address>
